.places__list {
  display: grid;
  row-gap: 80px;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 1023px) {
  .places__list {
    row-gap: 73px;
  }
}

@media screen and (max-width: 767px) {
  .places__list {
    gap: 50px;
  }
}